# Python
venv*/
.venv/
env/
venv310/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.egg-info/
.pytest_cache/

# Secrets
.env
.env.*

# IDE
.vscode/
.idea/

# Rasa models (nếu build cục bộ)
# models/

# Hệ điều hành & tool
.DS_Store
Thumbs.db

# Python tools khác
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Build/artifacts chung
build/
dist/